{
  "extends": ["react-app", "airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-unresolved": ["off", { "ignore": [".css$"] }],
    "eqeqeq": ["error", "always"]
  }
}
