.card-item > h1 {
	color: #1f1f1f;
	padding-left: 16px;
  padding-right: 16px;
	display: block;

  font-size: 1.1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.card-item-dark > h1 {
	color: #fff;
	padding-left: 16px;
  padding-right: 16px;
	display: block;

  font-size: 1.1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

div.card-item {
  height: 380px;
  width: 320px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 10px;
}

div.card-item-dark {
  height: 380px;
  width: 320px;
  background-color: #424242;
  border-radius: 5px;
  border: 1px solid #1f1f1f;
  margin: 16px;
}

.description {
  color: #888;;
  padding-left: 16px;
  font-size: 0.775rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

.description-dark {
  color: #ddd;
  padding-left: 16px;
  font-size: 0.775rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}