.headerMenu {
  width: 100vw;
  min-height: 60px;
  background-color: #1c5476;
  padding: 15px 18px;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
}

.headerMenuDark {
  width: 100vw;
  min-height: 60px;
  background-color: #556dd6;
  padding: 15px 18px;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
}

.headerWrapper {
  display: flex;
}

.headerToggleWrapper {
  display: inline-flex;
  margin-right: 25px;
}

.headerToggleLabel {
  margin-left: 8px;
  font-size: 14px;
  line-height: 30px;
}

.headerToggle {
  margin-right: 1rem;
  position: relative;
  width: 80px;
  height: 30px;
  margin: 0px;
  appearance: none;
  -webkit-appearance: none;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, .7);
  transition: background-image .7s ease-in-out;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

.headerToggle:checked {
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.headerToggle:after {
  content: '';
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fafafa;
  position: absolute;
  left: 3px;
  top: 2px;
  transform: translateX(0px);
  animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
}

@keyframes off {
  0% {
    transform: translateX(80px);
    width: 26px;
  }

  50% {
    width: 45px;
    border-radius: 25px;
  }

  100% {
    transform: translateX(0px);
    width: 26px;
  }
}

.headerToggle:checked:after {
  background-color: #74a44a;
  animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
  left: -29px;
}

@keyframes on {
  0% {
    transform: translateX(0px);
    width: 26px;
  }

  50% {
    width: 45px;
    border-radius: 25px;
  }

  100% {
    transform: translateX(80px);
    width: 26px;
  }
}

.menuIcon {
  background-image: url("./img/menu_icon.png");
  width: 35px;
  height: 35px;
  display: block;
  background-size: 35px;
  margin-right: 15px;
}

.loginIcon {
  background-image: url("./img/user_icon.png");
  width: 35px;
  height: 35px;
  display: block;
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.searchIcon {
  background-image: url("./img/search_icon.png");
  width: 35px;
  height: 35px;
  display: block;
  background-size: 30px;
  background-repeat: no-repeat;
}

.loginButton {
  cursor: pointer;
}

.inputSearch {
  margin-left: 15px;
}


/*modal*/
element.style {
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.modal-overlay {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
  /*z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 80px; /* Location of the content container */
}

.modal-wrapper {
  
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-dark {
  z-index: 100;
  background: rgba(66, 66, 66, 0.87);;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal-header {
  display: flex;
  justify-content: flex-start;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
  height: 100%;
  width: 100%;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

.modal-buttons {
  flex: 0 0 auto;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: flex-end;
}

.modal-button {
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-input {
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.errorMessage {
  color: rgb(255, 162, 180);
  display: flex;
  padding: 6px 16px;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: 0.01071em;
  background-color: transparent;
}